@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bitter:ital,wght@0,400;0,500;0,600;0,700;1,500&family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Molengo&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,500;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    width: 100%;
    overflow-x: hidden;
} */
img{
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6,span,p,a{
    font-family: 'Poppins', sans-serif;
}
a{
    display: inline-block;
    text-decoration: none;
}
span{
    display: inline-block;
}
.floadright{
    float: right;
}
.floadleft{
    float: left;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

/* main css */
/* ==================header css start=================== */
.headercontent {
    padding: 0;
}
header {
    z-index: 999;
    position: relative;
}
.scrolactive{
    background: #fff;
    color: #111;
    transition: all .5s ease-in-out;
  
}
.navbar-dark .navbar-brand {
    color: #fff;
    padding: 0;
}
.headermenu{}
.headermenu ul{
    margin: 0;
    padding: 0;
}
.headermenu ul li{}
.headermenu ul li a {
    color: #787272;
    font-weight: 500;
    padding: 21px 14px;
}
.nevmenu{
    color: rgb(0, 0, 0) !important;
}
/* ==================header css end=================== */
/* ==================banner css start=================== */
.bannersection{
    background: url('/asset/img/analyzen-superheros-bg.jpg') center center no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top: -67px;
    position: relative;
    height: 600px;
}
canvas#stars {
    opacity: .5;
    height: 100%;
    width: 100%;
}
.banner-content{
    color: #fff;
}
.bannerconsection {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}
.banner-content h4 {
    font-size: 17px;
    color: #dddd;
}
.banner-content h1 {
    font-size: 55px;
    font-weight: 700;
}
.banner-content h3 {
    font-size: 20px;
    color: #ddd;
}
.banner-content p {
    font-size: 15px;
    font-weight: 400;
}
/* banner caoursel */

/* ==================banner css end=================== */
/* ==================gallery css start=================== */
.gallerycontent {
    display: flex;
    flex-wrap: wrap;
}
.galleryitem {
    width: 33.3%;
    position: relative;
}

.overlycontent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #1111116b;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}
.galleryitem:hover .overlycontent{
    opacity: 1;
    visibility: visible;
}
section.gallerysection {
    overflow: hidden;
}
.gallerylink a {
    text-align: center;
    color: #fff;
    display: block;
    font-size: 35px;
    margin-top: 54px;
}
.overlycontenttext {
    position: relative;
    top: 44px;
    left: 26px;
    color: #fff;
}
.seemorebtn {
    text-align: center;
}
.seemorebtn a {
    padding: 10px 45px;
    border: 1px solid #111;
    color: #111;
    font-weight: 500;
    margin-top: 20px;
}
/* ==================gallery css end=================== */
/* ==================our service css start=================== */
.ourservicestitile h2 {
    font-size: 48px;
    font-weight: 600;
}
.ourservicesitem{}
.ourservicesitem img{}
.ourservicesitem h3 {
    color: #111;
    margin-bottom: 26px;
    font-size: 17px;
    margin-top: 10px;
    height: 28px;
}
.ourservicesitem p {
    font-size: 14px;
    color: #111;
}
h3.games {
    color: #fbba06;
}
h3.web-dev {
    color: #f93082;
}
h3.content-dev {
    color: #66a1d3;
}
h3.strategy {
    color: #ff572c;
}
section.oursection {
    padding-bottom: 112px;
}
/* ==================our service css end=================== */
/* ==================our service bottom css start=================== */
.reviewsection{
    overflow: hidden;
    background: #f4f5f9;
    padding: 40px 0;
}
.reviews{
    text-align: center;
}
.reviews img {
    width: 191px !important;
    margin: auto;
}
.reviews h4 {
    font-size: 17px;
}
.reviews h3 {
    font-size: 15px;
}
button.owl-next span, button.owl-prev span {
    font-size: 44px;
}
button.owl-next {
    position: absolute;
    right: 0;
    top: 36%;
}
button.owl-prev{
    position: absolute;
    left: 0;
    top: 36%;
}
/* ==================our service bottom css end=================== */
/* ==================Brathcrumb css start=================== */
.brathcramp{
    padding: 120px 0;
    background-repeat: repeat-x;
    background-position: bottom right;
    position: relative;
    animation: bganimation 30s ease-in-out infinite;
}
.brathcramp::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.538);
   
}
.brathcramp h2{
    position: relative;
    z-index: 99;
    font-weight: 600;
}
/* ==================Brathcrumb bottom css end=================== */
section.brathcrumbbottom p {
    font-size: 14px;
}
.beginningcontent h2 {
   font-weight: 600;
}
.beginningcontent p {
    font-size: 14px;
}
.beginningimg img{
    animation: aboutanimation 5s ease-in-out infinite;
}
@keyframes aboutanimation {
    0%,to{
        transform: translate(0,-10px);
        transition: all .5s ease-in-out;
    }
    65%{
        transform: translate(0,15px);
        transition: all .5s ease-in-out;
    }
   
}
@keyframes bganimation {
    0%{
       background-position: 0,0;
        transition: all .5s ease-in-out;
    }
    100%,to{
        background-position: 100%,0;
        transition: all .5s ease-in-out;
    }
   
}

/* ==================Brathcrumb css end=================== */
/* ==================footer bottom css start=================== */

.footer-section{
  position: relative;
}
.footercontent{
    text-align: center;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.footercontent p {
    margin: 0;
    color: #fff;
    line-height: 27px;
}
.footrlogo img{}
.footermenu{}
.footermenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footermenu ul li {
    display: inline-block;
}
.footermenu ul li a {
    color: #fff;
    padding: 10px;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 500;
}
.footersocialicon a {
    color: #fff;
    height: 40px;
    width: 40px;
    background: #48464685;
    line-height: 40px;
    border-radius: 50%;
    font-size: 20px;
    margin-top: 10px;
}
/* footer canves animation start */
canvas{
    border: 1px solid black;
    background-color: black; 
  }
  canvas.footercanvas {
    width: 100%;
    height: 486px;
    padding: 69px 0;
}
/* footer canves animation end */